<form action="answer">
  <input type="text" name="question" placeholder="your question here">
  <input type="submit" value="Ask!">
  <!-- <input type="text" name="question2" placeholder="your question2 here"> -->
  <!-- <input type="submit" value="Ask!"> -->
</form>
